@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --white:#f0f0f0;
    --light-blue:#3a6cf4;
    --dark-blue:#000016;
    --purple:#951086;
}

*{
font-family: 'Poppins', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;
}
a{
    text-decoration: none;
}

header{
background-color: var(--white);
position: sticky;
top: 0;
z-index: 1;
padding: 1.2rem;

}
.header-content{
    margin: auto;
    display: flex;
    max-width: 1100px;
    justify-content: space-between;
    align-items: center;
}
.logo{
    text-decoration: none;
    color: var(--purple);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8rem;
    
}
.navigation{
    margin: 0;
}
.navigation a{
    color: var(--light-blue);
    font-size: 1.2rem;
    font-weight: 500;
    margin: auto 2px;
    margin: 0 8px;

}
.navigation a:hover{
    color: var(--purple);
}

main{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section{
    max-width: 1000px;
    margin: auto;
}
.main{
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-image: url(/img/marketer\ using\ the\ best\ portfolio\ websites\ to\ showcase\ an\ impressive\ digital\ portfolio.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    align-items: center;
    padding: 0 0 0 160px;
    
}
.main > div {
    padding: 1rem;
    max-width: 1000px;
}
.main h2{
color: var(--dark-blue);
font-size: 1.6rem;
font-weight: 550;
}
.main span{
    display: inline-block;
    color: var(--purple);
    font-size: 3rem;
    font-weight: 700;
    }
.main h1{
        
        color: var(--dark-blue);}
       
.main-btn{
    color: var(--white);
    background-color: var(--purple);
    border-radius: 14px;
    font-size: 1rem;
    font-weight: 600;
    padding:0.8rem 1.2rem;
    display: inline-block;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    transition: 0.7s ease;
}
.main-btn:hover{
    background-color: var(--light-blue);
    transform: scale(1.1);
}
.social-icons a {
    color: var(--white);
    font-size: 1.7rem;
    margin-inline-start: 10px;

}
/*services*/
.title{
    text-align: center;
    color: var(--purple);
    font-size: 1.8rem;
    margin: 1rem 0 3rem;

}

.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.2rem;
    justify-content: center;

}
.cards{
    min-height: 70vh;
    
}

.card{
    background-color: #fff;
    flex-basis: 400px;
    box-shadow: 0 5px 25px black;
    padding: 24px;
    border-radius: 8px;
    transition: 0.7s ease;
    text-align: center;
}
.card:hover{
    transform:scale(1.1);
}
.card .icon{
    color: var(--purple);
    font-size: 6em;
}
.card-info h3{
color: var(--purple);

}
.project-section{
    background-color: var(--dark-blue);
    padding: 6rem 1rem;
    justify-content: center;
    align-items: center;
}
.project-section > div{
    max-width: 1000px;
}
.project-card{
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 160px;
    width: 450px;
    border-radius: 8px;
    transition: 0.7s ease;
    
}
.project-card:hover{
    transform: scale(1.1);
    opacity: 0.9;
}
.project-card-img img{
width: 100%;
max-height: 200px;
border-radius: 8px;
}
.project-card-info{
    
    padding: 1rem;
}
.project-title{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}
#contact{
padding: 3rem 0;
}
.footer{
    background-color: var(--dark-blue);
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    color: #fff;
}
.footer-title{
    font-size: 1.2rem;
    font-weight: 700;
}
.footer-title span{
    color: var(--purple);
}
@media(max-width:1000px){
    .main{
        padding-left: 30px;
    }
    header{
        padding: 1rem 1rem;
    }
    .project-card{
        width: 320px;
    }
}