*{ 
    box-sizing: border-box;
}
body{
    margin: 0;
    height: 100vh;
}

.ul{
   display: flex;
   justify-content: space-around;
   list-style: none;
}

  .layout > nav  {
   display: flex;
   flex-direction: column;
   width: 150px;
   margin: 10px;
    gap: 8px;
    text-align: center;
    
    
   
}
 a {
    
    font-size: 20px;
    text-align: center;
    text-decoration: none;


}

.container{
    display: flex;
    flex-direction: column;


}
.row{
    display: flex;
    flex-direction: row;
    gap: 12px;
    border: 2px solid rgb(0, 21, 255);
    padding: 8px;
}
.col{
    border: 2px solid burlywood;
    padding: 8px;
    flex: 1;
    flex-basis: 100px;
}
.parent{
    
        display: flex;
        width: auto;
        height: auto;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        align-items: center;
}
.child{
    
       
        
        justify-content: center;
        align-items: center;
    
}
img{
    width: 100%;
}
.classelements{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: DodgerBlue;
    gap: 8px;
}
.classelements > div {
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    text-align: center;
    font-size: 30px;
    
}
.rows{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-basis: 100px;
    gap: 10px;
   
}

.dashboard{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   
}
.classmain{
    display: flex;
    flex-direction: row;
    gap: 12px;
    border: 2px solid rgb(0, 21, 255);
    padding: 20px;
    max-width: 500px;
    min-width: 250;
}
.classcolumn1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
    flex-basis: 100px;
    gap: 10px;
}
.row1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-basis: 100px;
    gap: 10px;
}

    .col1{
        border: 2px solid burlywood;
        padding: 8px;
        flex: 1;
        flex-basis: 100px;
    }